.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.wrap {
  width: 1170px;
  margin: 0 auto;
  padding: 0 30px; }
  .wrap header {
    padding-bottom: 78px; }
    .wrap header .logo {
      float: left;
      font-family: "Roboto";
      font-size: 30px;
      color: #000000;
      text-transform: uppercase;
      padding-top: 28px;
      font-weight: 300; }
    .wrap header .logo p::first-letter {
      color: #1ABC9C;
      font-weight: 900; }
    .wrap header nav {
      float: right;
      padding-top: 23px; }
      .wrap header nav ul {
        list-style: none; }
        .wrap header nav ul li:last-of-type {
          padding-right: 0; }
        .wrap header nav ul li {
          float: left;
          padding-right: 50px; }
          .wrap header nav ul li a {
            font-size: 14px;
            font-family: "OpenSans-Bold,AdobeInvisFont,MyriadPro-Regular";
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            color: #000; }
          .wrap header nav ul li a:hover {
            color: #1ABC9C; }
          .wrap header nav ul li a:active {
            color: white;
            border-radius: 4px;
            background-color: #0e876f; }
  .wrap section h2 {
    font-family: "Roboto";
    font-size: 48px;
    width: max-content;
    margin: 0 auto 10px;
    text-transform: uppercase; }
  .wrap section h2::after {
    content: "";
    display: block;
    width: 165px;
    height: 8px;
    background-color: #1ABC9C;
    margin: 10px auto 92px; }
  .wrap section.products {
    margin-bottom: 55px; }
    .wrap section.products figure {
      background-color: #e9f0fd;
      border-radius: 5px;
      width: 255px;
      float: left;
      margin: 0 30px 30px 0;
      height: 322px;
      overflow: hidden; }
      .wrap section.products figure a {
        cursor: pointer; }
        .wrap section.products figure a img {
          max-width: 100%; }
      .wrap section.products figure a {
        height: 40px; }
        .wrap section.products figure a figcaption {
          background-color: #323232; }
          .wrap section.products figure a figcaption p {
            display: inline-block;
            font: 18px "Roboto";
            color: #FFFFFF;
            text-transform: uppercase;
            padding: 8px 0 8px 14px; }
          .wrap section.products figure a figcaption .price {
            float: right;
            width: 54px;
            background-color: rgba(255, 255, 255, 0.44); }
    .wrap section.products figure:nth-of-type(4n+4) {
      margin-right: 0; }
    .wrap section.products figure:hover figcaption {
      background-color: #1ABC9C; }
    .wrap section.products figure:hover {
      filter: drop-shadow(2px 4px 6px green); }
  .wrap section.news h2 {
    color: #555252; }
  .wrap section.news figure {
    width: 350px;
    float: left;
    margin: 0 30px 0 0; }
    .wrap section.news figure a {
      cursor: pointer; }
    .wrap section.news figure figcaption h4 {
      font: 18px "OpenSans";
      color: #555252;
      padding: 15px 0; }
    .wrap section.news figure figcaption h4::after {
      content: "";
      display: block;
      width: 135px;
      height: 3px;
      background-color: #1ABC9C;
      margin: 10px 0 5px 0; }
    .wrap section.news figure figcaption p {
      font: 14px "OpenSans";
      color: #555252;
      padding-bottom: 14px; }
    .wrap section.news figure figcaption button {
      cursor: pointer;
      display: block;
      width: 160px;
      height: 50px;
      font: 16px "Open Sans";
      color: white;
      text-transform: capitalize;
      margin-bottom: 85px;
      border: 1px solid #626262;
      border-radius: 3px;
      background-color: #4ec6ab; }
    .wrap section.news figure figcaption button:hover {
      animation: slide 3s linear infinite;
      animation-direction: alternate; }
  .wrap section.news figure:last-of-type {
    margin-right: 0; }

/*# sourceMappingURL=style.css.map */
