.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.wrap{
  width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
  header{
    padding-bottom: 78px;
    .logo{
      float: left;
      font-family: "Roboto";
      font-size: 30px;
      color: #000000;
      text-transform: uppercase;
      padding-top: 28px;
      font-weight: 300;
      
    }
    .logo p::first-letter{
      color: #1ABC9C;
      font-weight: 900;
    }
    nav{
      float: right;
      padding-top: 38px;
      ul{
        list-style: none;
        li:last-of-type{
            margin-right: 0;
          }
        li{
          float: left;
          margin-right: 50px;
          a{
            font: 14px "OpenSans";
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            color: #000;         
          }
          a:hover{
            color:#1ABC9C;
          }
          a:active{
            color: white;
            border-radius: 4px;
            background-color: #0e876f
          }
        }
      }      
    }
  } 
  section{
    h2{
      font-family: "Roboto";
      font-size: 48px;
      width: max-content;
      margin: 0 auto 10px;
      text-transform: uppercase;
      color: #515151;
    }
    h2::after {
      content: "";
      display: block;
      width: 165px;
      height: 8px;
      background-color: #1ABC9C;
      margin: 10px auto 92px;
    }
  }
  section.products{  
    margin-bottom: 55px;  
    figure{
      background-color: rgb(233, 240, 253); 
      border-radius: 5px;     
      width: 255px;
      float: left;
      margin: 0 30px 30px 0;
      height: 322px; 
      overflow: hidden;
      .a-img a{
        cursor: pointer;
        img{
          max-width: 100%;
        }
      } 
      figcaption{ 
        height: 40px;          
        background-color: #323232;
        a{
          display: inline-block;
          height: 100%;
          width: 201px; 
          text-decoration: none;
          font: 18px "Roboto";
          color: #FFFFFF;
          text-transform: uppercase;
          padding: 8px 0 8px 14px;
        }        
        .price{
          font: 18px "Roboto";
          line-height: 40px;
          text-align: center;
          float: right;
          width: 54px;
          background-color: rgba(255, 255, 255, .44);            
        }
      }     
    }
    figure:nth-of-type(4n+4) {
      margin-right: 0;
    } 
    figure:hover figcaption{
      background-color: #1ABC9C;
    }
    figure:hover{
      filter: drop-shadow(2px 4px 6px green);
    }
  }
  section.news{
    h2{
      color: #555252;
    }
    figure{
      width: 350px;
      float: left;
      margin: 0 30px 0 0;
      a{
        cursor: pointer;
      }
      figcaption{
        h4{
          font: 18px "OpenSans";
          color: #555252;
          padding: 15px 0;
        }
        h4::after {
          content: "";
          display: block;
          width: 135px;
          height: 3px;
          background-color: #1ABC9C;
          margin: 10px 0 5px 0;
        }
        p{
          font: 14px "OpenSans";
          color: #555252;
          padding-bottom: 14px;
        }
        button {
          cursor: pointer;
          display: block;
          width: 160px;
          height: 50px;
          font: 16px "Open Sans";
          color: rgb(255, 255, 255);
          text-transform: capitalize;
          margin-bottom: 85px;
          border: 1px solid #626262;
          border-radius: 3px;
          background-color: rgb(78, 198, 171);
        }
      }
    }
    figure:last-of-type{
      margin-right: 0;
    }
  }
}


